* {
  margin: 0;
  padding: 0;
  line-height: 0;
}

body {
  background-color: #ccc;
  text-align: center;
}

.container {
  width: 600px;
  margin: 10px auto;
  border: 5px solid white;
  display: flexbox;
}

.thumb {
  width: 197px;
  box-sizing: border-box;
  border: 2px solid whitesmoke;
}

.thumb:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* tambahin animasi biar keren */
@keyframes fadeIn {
  to{
    opacity: 1;
  }
}

.fade {
  opacity: 0;
  /* forwards biar animasinya berhenti di keadaan terakir */
  animation: fadeIn 0.5s forwards;
}

.active {
  opacity: 0.5;
}